/* -----------font links---------------- */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


/*------------ common css--------------  */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    display: inline-block;
}

img{
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
}

ul,ol{
    list-style: none;
}

h1,h2,h3,h4,h5.h6{
    margin: 0;
    padding: 0;
}

:root{
    --prclr:#42454A;
    --prfnt:"Ubuntu", sans-serif;
}
/* --------------navbar css-------------- */
.mynavbar{
    padding-top: 37px;
    padding-bottom: 20px;
    border-bottom: 2px solid #EAE8F3;
}

.mynavbar ul{
    gap: 77px;
}
.navbar-brand img{
    width: 70px;
    height: 47px;
}

.nav-item a{
    font: var(--prfnt);
    color: var(--prclr);
    font-size: 14px;
    font-weight: 400;
}

.nav-item a:hover{
background-color: rgb(178, 226, 178);
border-radius: 4px;

}

.navbutton{
    display: flex;
}
.navbutton a{
    font: var(--prfnt);
    color: var(--prclr);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbutton :nth-child(1){
    font-size: 14px;
    color:var(--prclr);
    width: 102px;
    margin-right: 24px;
    border-radius: 4px;
}

.navbutton :nth-child(1):hover{
    background-color:#42454A;
    color: white;
}

.navbutton :nth-child(2){
    width: 106px;
    font-size: 14px;
    color:var(--prclr);
    border-radius: 4px;
}


.navbutton :nth-child(2):hover{
    background-color:#42454A;
    color: white;
}
/* -------------banner part------------ */
.banner_text{
    max-width: 586px ;
}

.btl1{
    max-width: 586px;
    font-size: 90px;
    font-weight: 200;
    text-transform: uppercase;
    font-family: var(--prfnt);
    color: var(--prclr);
}
.btl2{
    max-width: 586px;
    font-size: 95px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: var(--prfnt);
    color: var(--prclr);
}

/* --------txt animation start----- */
:root {
  --primary-color: #c8dc71;
  --gradient-color: linear-gradient(180deg, #d2ff00 0%, #00d2ff 100%);
}


/* Custom */

h1 {

    max-width: 586px;
  background: -webkit-linear-gradient(25deg, #eee, #333);
  background-clip:text;
  /* -webkit-text-fill-color: transparent; */
  font-size: 95px;
  font-weight: 500;
  font-family: var(--prfnt);
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  animation: type 1.5s steps(90) 1.5s 1 normal both, cursor 1s step-end infinite;
  position: relative;
}

/* h3 {
    width: 82px;
    font-size: 20px;
    font-weight: 700;
    font-family: var(--prfnt);
    color: var(--prclr);
    max-width: 586px;
    background: -webkit-linear-gradient(25deg, #eee, #333);
    background-clip:text;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid;
    animation: type 1.5s steps(90) 1.5s 1 normal both, cursor 1s step-end infinite;
    position: relative;
}  */

@keyframes type {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

/* ---------txt animation end------------ */

.btlpd{
    width: 335px;
    border-bottom: 4px solid #42454A;
    margin-top: 93px;
    margin-bottom: 62px;
}

.bntxt p{
    width: 353px;
    font-size: 22px;
    font-weight: 400;
    font-family: var(--prfnt);

}

.b_group{
    display: flex;
    justify-content: start;
    align-items: center;
}

.bgicon{
    width: 58px;
}
.bgbuynow a{
    width: 82px;
    font-size: 20px;
    font-weight: 700;
    font-family: var(--prfnt);
    color: var(--prclr);
}
.wvideo{
    max-width: 120px;
    font-size: 18px;
    font-weight: 400;
    font-family: var(--prfnt);
    color:var(--prclr);
}
.groupic{
    max-width: 80px;
    animation: ghur 2s linear infinite;
}

@keyframes ghur {
from{
    transform: rotate(0deg)
}
to{
transform: rotate(360deg);
}
    
}

.b_group :nth-child(2){
    margin-right: 50px;
    margin-left: 21px;
}

.b_group :nth-child(3){
    margin-right: 50px;
}

.play{
    width: 9px;
    position: absolute;
    padding: 0px;
    margin: 0px !important;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
}
.groupplay{
    position: relative;
    /* transform: translate(-50%, -50%); */
}

#bannerpart{
    position: relative;
}

.bannerimg{
    max-width: 855px;
    max-height: 646px;
    position: absolute;
    right: 0px;
    top:10px;
}

/* --------countdown part start------ */
#countdown{
    margin-top: 209px;
    margin-bottom: 127px;

}

.cntdnrow{
    display: flex;
    justify-content: space-between;
}

.cntit1 span{
    font-size: 40px;
    font-weight: 700;
    font-family: var(--prfnt);
    color: var(--prclr);
}

.cntit1{
    width: 147px;
    height: 137px;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    display: flex;
    border-radius: 7px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cntit1 h4{
    font-size: 18px;
    font-weight: 700;
    font-family: var(--prfnt);
    color: var(--prclr);
}

.cntit1 p{
        font-size: 13px;
    font-weight: 400;
    font-family: var(--prfnt);
    color: var(--prclr);
}
/* ---------product information------ */
.cmnhd{
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.cmnhd h4{
    font-size: 50px;
    font-weight:700 ;
    color: var(--prclr);
    font-family:var(--prfnt);
    margin-bottom: 34px;
}

.cmnhd p{
    font-size: 20px;
    font-weight:400 ;
    color: var(--prclr);
    font-family:var(--prfnt);
    margin-bottom: 143px;
}

.itm1{
    display: flex;
    gap: 18px;
    margin-bottom: 34px;
}

.try{
    display: flex;
    flex-direction: column;
}

.rightalign{
    display: flex;
    justify-content: end;
}

.itm1mg{
    width: 49px;
    height: 49px;
}

.itm1txt{
    font-size: 20px;
    font-weight: 400;
    font-family: var(--prfnt);
    color: var(--prclr);
    padding-top: 12px;
}

.prdinfimg{
    width: 748px;
    height: 706px;
    position: absolute;
    top: 20%;
    left: 0%;
}

#productinfo{
    position: relative;
}

/* efficiency part */
#efficiency{
    margin-top: 126px;
    margin-bottom: 315px;
}

#efficiency img{
max-width: 100%;
max-height: 493px;
}


/* --------accessories part--------- */
#accessories{
    margin-top: 315px;
    margin-bottom: 131px;
    position: relative;
}

.try h4{
    font-size: 50px;
    font-weight: 700;
    color: var(--prclr);
    font-family: var(--prfnt);
    margin-bottom: 44px;

}


.accesoryimg{
    max-width: 100%;
    max-height: 487px;
    position: absolute;
    top: 25%;
    right: 0%;
}

/* -------shopping----------- */
.shoppingimg{
    width: 779px;
    height: 427px;
    position: absolute;
    top: 5%;
    left: 0%;
}

#shopping{
    margin-bottom: 103px;
    position: relative;
}

/* ------upcoming-------- */
.upcoming{
    display: flex;
    justify-content: center;
    margin-bottom: 194px;
}

.upcoming button{
    padding: 29px 63px 29px 63px;
    border: 2px solid var(--prclr);
    width: 570px;
    border-radius: 4px;
}


/* -----------gallery------------ */
.gal-txt{
    margin-bottom: 132px;
}

#gallery{
    height: 1300px;
    background: none;
    margin-bottom: 128px
}

/* .galleryrow2{
    margin-top: 96px;
} */

.galleryrow1 img{
width: 633px;
height: 485px;
}

.row1img1{
    margin-top: 190px;
}



.galleryrow2 img{
width: 633px;
height: 485px;
}

.row2img1{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 50px;
}
.row2img1 button{
    width: 570px;
    height: 94px;
    border: 2px solid var(--prclr);
    border-radius: 10px;
}

.row2img1 button a{
        font-size: 30px;
    font-weight: 700;
    font-family: var(--prfnt);
    color: var(--prclr);    
}

.row2img2{
    margin-top: -90px;
}

/* slider */
#colors{
    margin-bottom: 210px;
}

.sliderimage{
    margin-right: 5px;
    margin-left: 5px;
}




.draggable{
    padding: 0px!important;
}

.draggable{
    column-gap: 60px !;
}


.slider-nav{
    margin-top: -100px;
}


/* second slide */

#slide2{
background: #FAFAFA;
height: 712px;
}
.slide-2txt h4{
    margin-bottom: 41px;
}

.slide-2txt h4:hover{
    color:aquamarine;
}

.slider_single_item .abc{
    width: 360px;
    height: 366px;
    background-color: #FAFAFA;
    padding: 52px 22px 51px 34px;
    border: 1px solid var(--prclr);
    margin-right: 40px;
}

.slider_single_item .abc{
    position: relative;
}

.slider_single_item .abc:hover{
    background: #FFFFFF;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.slider_single_item ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    gap: 2px;
}

.slider_single_item p{
    width: 100%;
    height: 140px;
    font-size: 20px;
    font-weight: 400;
    font-family: var(--prfnt);
    letter-spacing: 0%;
    text-align: center;
}

.slider_single_item img{
    width: 48px;
    height: 48px;
}
.tpl{
    width: 230px;
    height: 50px;
}
.tpl p{
    text-align: left;
    font-size: 14px;
}

.tpew{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: end;
    padding-top: 20px;
}


.my_arr{
    background-color:yellowgreen;
    size: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.my_arr:hover{
    color: white;
    background-color: var(--prclr);
}

.pr{
    position: absolute;
    bottom: -30%;
    left: 44%;
}

.abc ul li{
    color:#FE8B75;
}

.nx{
    position: absolute;
    left: 49%;
    bottom: -30%;
}
/* -----News letter part */

.subscription{
    width: 616px;
    /* background-color: red; */
    margin: 0 auto;
    text-align: center;
    padding-top: 127px;
    margin-bottom: 200px;
}
.subscription h2{
    font-size: 50px;
    font-weight:700 ;
    color: var(--prclr);
    font-family:var(--prfnt);

}
.subscription p{
        font-size: 20px;
    font-weight:400 ;
    color: var(--prclr);
    font-family:var(--prfnt);
    margin-top: 11px;
    margin-bottom: 59px;
}

.subscription button{
    width: 196px;
    height: 81px;
    background-color: #42454A;
    border-radius: 10px;
}

.subscription button:hover{
background-color:#f0e4e4 ;

}

.subscription input{
    width: 400px;
    height: 81px;
    background-color: #F5F5F5;
    padding-left: 38px;
    border-radius: 10px;
    border: 2px solid #F5F5F5;
}

.subscription button{
    text-align: center;
    color: #FBFBFB;
}

/* .subscription button a{
    text-align: center;
    color: #FBFBFB;
} */

.subscription button:hover{
    color: black;
}

/* nfooter */
#nfoot{
    max-width: 1440px;
    background-color: #42454A;
}

.fcmnhd{
    display: flex;
    justify-content: end;
    padding-top: 99px;
    padding-right: 146px;
    padding-bottom: 142px;
    gap: 102px;

}

.about ul{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 28px;
    padding-left: 0px !important;

}

.Resources ul{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 28px;
        padding-left: 0px !important;
}
.legals ul{
    /* background-color: red; */
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 28px;
    padding-left: 0px !important;
}

.fcmnhd h2{
    color:#FBFBFB ;
    font-size: 22px;
    font-weight:700 ;
    font-family: var(--prfnt);
    margin-bottom: 44px;
}

.fcmnhd ul li a{
    color:#FBFBFB ;
    font-size: 16px;
    font-weight:400 ;
    font-family: var(--prfnt);
    /* margin-bottom: 10px; */
}

#nfoot{
    position: relative;
}

.footerimg{
    width: 600px;
    /* max-width: 729px; */
    height: 551px;
    position: absolute;
    left: 0%;
    top: -15%;
}



/* .social_icons a{
    width: 32px;
    height: 32px;
    gap: 16px;
    background: red;
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
} */

.legals ul li.social_icons{
    /* background-color: #00d2ff; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.legals ul li.social_icons a {
    width: 32px;
    height: 32px;
    background-color: white;
    color: var(--prclr);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}