/* ..........fonts links---------- */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');



/* -----------common css---------- */
*{
    margin: 0;
    padding: 0;
    outline: 0;
}

.img{
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
}

a{
    text-decoration: none;
}

ul, ol{
    list-style: none;

}

:root{
    --prfnt:"Ubuntu", sans-serif;
    --prclr:#42454A;    
}

/* ------------navbar css---------- */
